/* Header + Nav */
:root {
    --navy-blue: #0F172A;
    --white: #fff;
    --light-gray: #E5E7EB;
    --btn-color: #3B82F6;
    --btn-hover: #2563EB;
    --btn-active: #1E40AF;
}

header {
    height: 10vh;
    border: 1px solid;
    display: flex;
    align-items: center;
    background-color: var(--navy-blue);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

nav a {
    text-decoration: none;
    margin: 0 5px;
}

nav p,
a {
    color: var(--white);
}

footer {
    height: 10vh;
    background-color: var(--navy-blue);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    margin: auto;
}

footer a {
    text-decoration: none;
    margin: 0 5px;
}

footer p,
a {
    color: var(--white);
}


/* Hero Page*/

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--light-gray);
}

.hero-section h1 {
    font-size: 2.125rem;
}

.hero-cta p {
    margin: 20px 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

.hero-cta {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-search-btn {
    background-color: var(--btn-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.hero-search-btn:hover {
    background-color: var(--btn-hover);
    transition: 0.3s;
}

.hero-search-btn:active {
    background-color: var(--btn-active);
}

/* News articles */
/* .news-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

.news-section {
    height: 80vh;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    gap: 7px;
}

.news-img {
    height: 120px;
}

.news-link {
    color: #000;
}

.news-container h3 {
    font-size: 1.1rem;
    /* margin-bottom: 10px; */
    line-height: 1.5;
    text-align: center;
}


.news-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
    align-items: center;
    padding-top: 5px;

}

.search-form label {
    font-size: 1.2rem;

}

.search-form input[type="text"] {
    padding: 5px 10px;
}

.search-form input[type="submit"] {
    padding: 5px 10px;
    background-color: var(--btn-color);
    border: none;
    color: var(--light-gray);
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.search-form input[type="submit"]:hover {
    background-color: var(--btn-hover);
    transition: 0.3s;
}

.search-form input[type="submit"]:active {
    background-color: var(--btn-active);
}


.search-cta {
    text-align: center;
}

/* .news-container .news-link {
    margin-bottom: 5px;
} */

/* Media Querries */

@media only screen and (max-width: 700px) {

    footer a,
    p {
        font-size: 0.8rem;
    }

    .hero-cta h1 {
        font-size: 1.8rem
    }

    .hero-cta p {
        font-size: 1.3rem
    }

    .hero-search-btn {
        padding: 8px 16px;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .news-img {
        height: 90px;
    }

    .news-container h3 {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 800px) {
    .news-img {
        height: 80px;
    }

    .news-container h3 {
        font-size: 0.7rem
    }
}